<div>
  <h4> Comment by
  <% if user_signed_in? %>
    <%= current_user.email %>
  <% else %>
    <%= comment.author_name %>
  <% end %> </h4>
  <p> Posted <%= distance_of_time_in_words(comment.recipe.created_at, comment.created_at) %> later </p>
  <p class="comment"> <%= comment.body %> </p>
  <br>

</div>
