<% if user_signed_in? %>
  <div id="user">
    <h1 class="text-center"><%= @user.username %></h1>
    <h4 class="text-center">
      <%= @user.email %> | <%= @user.recipes.length %> recipes
    </h4>
    <%= render partial: 'recipes/list', locals: { recipes: @user.recipes } %>
  </div>
<% else %>
  <%controller.redirect_to root_path %>
<% end %>
