# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0c92a632527ee0882a6f5aaa540aa46ef62d5c6af412757346292c3debd14e66752b448d8f11d60314c8a5b16150a67df984871cd1b5b838de2e01757e18d4f0
staging:
  secret_key_base: 0fee634946cd063108f82164acbe9a444ef60d6ea88c268aa188401bfa80aef1fa281a1176373bd5dfe407c9966d1475cfeaf242d7a35d0f85c1c3db0b0877c4

test:
  secret_key_base: cbf9395cede2471e72fa14b0b4eb98599e6185ffdac2db092901e9f3fe5fef2e23baff92a2d50e620260f4c01cfafd6132be7565c18fc78e5d7aab9e2173117e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
