<head>
  <title>FoodLovers</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?rd5re8', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
